<header class="header">

  <img src="./assets/logo.jpeg" alt="">
  <nav>
    <ul>

      <li><a href="/">Inicio</a></li>
      <li><a href="/loguin">Administracion</a></li>
    </ul>
  </nav>
</header>

<div class="image-container">
  <img src="./assets/imagen principal.jpeg" alt="" class="imagen-estilo">
  <div class="button-container">
    <div class="btn-neon conocenos-btn">
      <a href="#conocenos-section" class="btn.neon">
        <span class="span1"></span>
        <span class="span2"></span>
        <span class="span3"></span>
        <span class="span4"></span>
        Conocenos
      </a>
    </div>
    <div class="btn-neon alquilar-btn">
      <a href="#" class="btn.neon">
        <span class="span1"></span>
        <span class="span2"></span>
        <span class="span3"></span>
        <span class="span4"></span>
        Porque Alquilar
      </a>
    </div>
    <div class="btn-neon cita-btn">
      <a href="https://linktr.ee/chloetiendadevestidos" class="btn.neon">
        <span class="span1"></span>
        <span class="span2"></span>
        <span class="span3"></span>
        <span class="span4"></span>
        Agenda tu cita
      </a>
    </div>
    <div class="btn-neon contacto-btn">
      <a href="#contacto-section" class="btn.neon">
        <span class="span1"></span>
        <span class="span2"></span>
        <span class="span3"></span>
        <span class="span4"></span>
        Contacto
      </a>
    </div>
  </div>
</div>



<section class="carrousel">
  <h1>Fotos</h1>
  <ngb-carousel>
    <ng-template ngbSlide>
      <img src="./assets/vestido1.jpg" alt="Imagen 1" class="imagen-carrousel">
    </ng-template>
    <ng-template ngbSlide>
      <img src="./assets/vestido2.jpg" alt="Imagen 2" class="imagen-carrousel">
    </ng-template>
    <ng-template ngbSlide>
      <img src="./assets/vestido3.jpg" alt="Imagen 3" class="imagen-carrousel">
    </ng-template>
    <ng-template ngbSlide>
      <img src="./assets/vestido4.jpg" alt="Imagen 4" class="imagen-carrousel">
    </ng-template>
    <ng-template ngbSlide>
      <img src="./assets/vestido5.jpg" alt="Imagen 5" class="imagen-carrousel">
    </ng-template>
  </ngb-carousel>
</section>



<section class="conocenos-section" id="conocenos-section">
  <h1>Conocenos</h1>
  <p>Somos una emprpresa hubicada en la localidad de venado tuerto, arrancamos este proyecto con mucho sacrificio hace
    mas de 4 años con tan solo 20 vestido. </p>
  <p>Hoy contamos con mas de 400 prendas las cuales podes medirte sin costo alguno, solo reservando cita previa mediante
    nuestra aplicacon.</p>
  <p>Nos apaciona encontrar el outfit indicado a cada clienta ya que todos somos distintos y todos podemos BRILLAR</p>
  <img src="./assets/local1.jpeg" alt="Imagen 1">
  <img src="./assets/local3.jpeg" alt="Imagen 2">
</section>


<section class="contacto" id="contacto-section">
  <h1>Contactanos</h1>
  <p>Pellegrini 731</p>
  <p><a href="https://wa.me/543416762873"><img src="./assets/whatsapp1.png" alt="WhatsApp" width="30" height="30">        WhatsApp    </a></p>
  <p><a href="https://www.instagram.com/chloe.tiendadevestidos/tagged/" target="_blank"><img src="./assets/insta.png" alt="Instagram" width="30" height="30" >  Instagram</a></p>
  <p style="margin-left: -30px;"><a href="https://linktr.ee/chloetiendadevestidos"><img src="./assets/linktr.png" alt="linktr" width="30" height="30">     Turnos</a></p>

</section>